eventlet
faster-whisper>=1.1.0
fastapi
flask
flask-socketio
language-tool-python
noisereduce
numpy
praat-parselmouth
pyAudioAnalysis
pyaudio
python-multipart
soundfile
scipy
textstat
transformers
torch
uvicorn
webrtcvad
websockets